/*
 * Globals
 */

/* Links */
a {
  color: #007bff;
}
a:focus,
a:hover {
  /* color: #fff; */
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #555;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #222;
  font-family: "Roboto";
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #eee;
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  position: fixed;
  width: 95vw;
  font-family: "Pacifico";
  background-color: #222;
  z-index: 100000;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
  /* background-color: #fff; */
  border-bottom: 0.25rem solid transparent;
}

.navlink a {
  color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #1cd5f1;
  border-bottom-color: #1cd5f1;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Main
 */
.scroll {
  padding: 0 1.5rem;
  z-index: 0;
}
.scroll .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}
