/* general styles */
.header {
  font-family: 'Pacifico', cursive;
  top: 0px;
  position: fixed;
  height: 10vh;
  background: white;
  border-bottom: grey 2px;
  width: 100vw;
}
.header h1{
  margin: 2px;
}

/* font */
#scroll h1 {
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
}
#scroll p {
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
}

#welcomeGroup {
  color: magenta;
  background-color: whitesmoke;
}

#mthdGroup {
  color: navy;
  background-color: whitesmoke;
}

#legendGroup {
  color: darkgreen;
  background-color: whitesmoke;
}

#universeGroup {
  color: whitesmoke;
  background-color: slategray;
}

#aboutGroup {
  color: darkcyan;
  background-color: whitesmoke;
}
