{% extends "layout.html" %} {% block content %}
<script type="module" src="../static/js/detail.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/detail.css" />
<header class="masthead mb-auto">
  <div class="inner">
    <h1 class="masthead-brand">AudioForma</h1>
    <nav class="nav nav-masthead justify-content-center">
      <form action="/" method="GET">
        <button type="submit">Home</button>
      </form>
    </nav>
  </div>
</header>
<div class="flex-container">
  <div>
    <audio id="my-media">
      <source type="audio/mp3" />
    </audio>
    <button type="button" id="start" class="bubu-button">start</button>
    <table id="music-info">
      <tr>
        <td>
          <label>frame rate per second (FPS)</label>
        </td>
        <td>
          <p id="fps"></p>
        </td>
      </tr>
      <tr>
        <td>
          <label>time elapsed [second]</label>
        </td>
        <td>
          <p id="time-elapsed"></p>
        </td>
      </tr>
      <tr>
        <td>
          <label>music length [second]</label>
        </td>
        <td>
          <p id="music-length"></p>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <div id="plot-div"></div>
    <div id="legend-div"></div>
  </div>
</div>
{% endblock %}
