<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>
<body>
  <section id="scroll">
    <div class="scroll__graphic sticky"><svg class="chart"></svg></div>
    <div class="scroll__text"></div>
  </section>
</body>
<footer>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
  <script src="https://unpkg.com/scrollama"></script>
  <script src="https://russellgoldenberg.github.io/scrollama/stickyfill.min.js"></script>
  <script src="../static/js/landing.js"></script>
</footer>
